.quiz {
  width: auto;
  height: auto;
}

.quiz__geolocation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-top: 20px;
  justify-items: center;
  align-content: center;
}

.quiz__geolocation__tab {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--componentBackground);
  transition: all 0.1s ease-in;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz__geolocation__tab a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  z-index: 3;
  opacity: 1;
  position: relative;
  background-color: transparent;
}

.quiz__geolocation__tab:hover {
  scale: 1.03;
}

.quiz-overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .quiz__geolocation__container {
    /* height: 550px;
    overflow-y: scroll; */
    grid-template-columns: 1fr;
  }
}
