.quiz {
  width: auto;
  height: auto;
}

.quiz__geolocation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-top: 20px;
  justify-items: center;
  align-content: center;
}

.quiz__geolocation__tab {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--componentBackground);
  transition: all 0.1s ease-in;
}

.quiz__geolocation__tab a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

.quiz__geolocation__tab:hover {
  scale: 1.03;
}
