.home {
  height: 100%;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#box {
  background: url("/public/assets/earth-2.jpg");
  background-size: cover;
  border: 2px solid #000;
  border-radius: 50%;
  max-width: 350px;
  width: 100%;
  height: 350px;
  z-index: 10;
  position: relative;
  animation: movimiento 25s linear 0s infinite;
  box-shadow: 0 0 25px RGBA(255, 255, 255, 0.1), -8px -8px 15px #000 inset,
    2px 2px 25px #000 inset, -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
    25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
  margin: 3em auto;
  transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

.products {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  position: relative;
  /* background-color: var(--componentBackground); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 1em;
  border-radius: 10px;
  justify-items: center;
  align-content: center;
}

.products__challenges {
  width: 100%;
  text-align: center;
  background-color: var(--componentBackground);

  /* padding: 40px; */
}

.products__challenges a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/* @media screen and (min-width: 1450px) {
  .home {
    height: 650px;
  }

  #box {
    margin: 3em;
    max-width: 450px;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 555px;
  }

  #box {
    margin: 3em;
    max-width: 350px;
    height: 350px;
  }
  .products {
    max-width: 670px;
    font-size: 1.2rem;
  }
} */

@media screen and (max-width: 425px) {
  #box {
    max-width: 260px;
    height: 260px;
  }
  .products {
    font-size: 1.2rem;
  }
}

.stars {
  z-index: 0;
  background: #000 url("/public/assets/stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("/public/assets/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("/public/assets/clouds.png") repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes movimiento {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 355px 0;
  }
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
