.welcome {
  /* background: linear-gradient(
      to right,
      rgba(245, 246, 252, 0.52),
      rgba(9, 1, 7, 0.73)
    ),
    url("/public/assets/landing-page.webp") no-repeat; */
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.welcome__container {
  width: 60%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  color: #fff;
}

.welcome__container > h3 {
  font-size: 2rem;
}

.welcome__container > h1 {
  font-size: 3.8rem;
  padding-top: 1rem;
}

.welcome__container > p {
  font-size: 2.1rem;
  font-weight: 100;
  padding-top: 1rem;
}

.welcome__container > div {
  background-color: rgb(230, 73, 73);
  width: fit-content;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 20px 35px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.welcome__container > div:hover {
  scale: 1.05;
}

.welcome__container > div > a {
  text-decoration: none;
  color: #fff;
}

/* PHONE QUERIES */
@media screen and (max-width: 425px) {
  .welcome {
    height: 100vh;
  }

  .welcome__container {
    width: 100%;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 4rem;
  }

  .welcome__container > h3 {
    font-size: 1.7rem;
  }

  .welcome__container > h1 {
    font-size: 2.3rem;
    padding-top: 1rem;
  }

  .welcome__container > p {
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 1rem;
  }
}
