.app {
  width: auto;
  height: 100%;
}

.app__pages {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0px 20px; */
}

@media screen and (max-width: 425px) {
  .app__pages {
    padding: 0px 20px;
  }
}
