/* google font */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap"); */
/*
  1. Use a more-intuitive box-sizing model.
*/

/* 
  COLORS USING
  #E2DBBE     MISC
  #D5D6AA     MISC
  #9DBBAE     ACCENTS
  #769FB6     COMPONENT BACKGROUND
  #188FA7     BACKGROUND
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html {
  width: 100%;
}

/* layout */
:root {
  --primary: #1aac83;
  --secondary: #e2dbbe;
  --mainBackground: #188fa7;
  --componentBackground: #769fb6;
  --accents: #9dbbae;
  --mainHeading: #111;
  --error: #e7195a;
}

body {
  margin: 0;
  background-color: var(--mainBackground);
  /* font-family: "Poppins"; */
}

/* navbar */

.nav {
  background-color: var(--componentBackground);
  color: #f1f1f1;
}

nav div a h1 {
  color: red;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
nav a {
  margin-left: 10px;
}

nav a {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}
